---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="关于羽辰"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('2025-07-22')}
	heroImage={AboutHeroImage}
>
	<p>
		这是我的博客，将记录一些学习和工作心得。
	</p>
	<p>
		这也是我私人空间，将记录一些美好生活。
	</p>
</Layout>
